openapi: 3.0.3
info:
  version: "1.0"
  title: Company API
  description: The Bokio Company API containing all resources for company tenant.
  termsOfService: https://docs.bokio.se/page/terms/
  contact:
    name: Bokio
    url: https://docs.bokio.se
    email: support@bokio.se
servers:
  - url: https://api.bokio.se/v1
    description: Bokio API
    x-bokio-api: true
security:
  - tokenAuth: []
tags:
  - name: customers
    description: Operations for managing customer data
  - name: invoices
    description: Operations for managing invoices
  - name: items
    description: Operations for managing inventory items
  - name: journal-entries
    description: Operations for managing accounting journal entries
  - name: uploads
    description: Operations for managing file uploads
  - name: fiscal-years
    description: Operations for managing fiscal years
  - name: sie-files
    description: Operations for managing SIE files
  - name: bank-payments
    description: Operations for creating and reading bank payments
  - name: credit-notes
    description: Operations for managing credit notes
  - name: chart-of-accounts
    description: Operations for managing chart of accounts
  - name: company-information
    description: Operations for managing company information
externalDocs:
  url: https://docs.bokio.se
  description: Read the API Documentation
paths:
  "/companies/{companyId}/journal-entries":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
    post:
      tags:
        - journal-entries
      summary: Create a journal entry
      description: |
        Creates a journal entry for the company.

        **Handling validation errors:**

        If this operations returns a 400 status code, inspect the response body's api error object for more information. There will be additional information in the innerCode if the code=validation-error.

        **Scope:** `journal-entries:write`
      operationId: post-journalentry
      requestBody:
        description: Post the necessary fields for the API to create a new journal entry.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/journalEntry"
            examples:
              New journal:
                value:
                  title: invoice 1234
                  date: 2024-10-10
                  items:
                    - debit: 200
                      credit: 0
                      account: 1930
                    - debit: 0
                      credit: 40
                      account: 3011
                    - debit: 0
                      credit: 160
                      account: 2611
      responses:
        "200":
          description: Journal entry created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/journalEntry"
              examples:
                Journal entry created:
                  value:
                    id: a419cf69-db6f-4de9-992c-b1a60942a443
                    title: invoice 1234
                    journalEntryNumber: V342
                    date: 2024-10-10
                    items:
                      - id: 1
                        debit: 200
                        credit: 0
                        account: 1930
                      - id: 2
                        debit: 0
                        credit: 40
                        account: 3011
                      - id: 3
                        debit: 0
                        credit: 160
                        account: 2611
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 2 errors
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/title"
                        message: The title field is required
                      - field: "#/items/1/account"
                        message: The account field is required
      security:
        - tokenAuth: []
    get:
      tags:
        - journal-entries
      summary: Get journal entries
      description: |-
        Get journal entries for the company. Use the query parameters to filter and navigate through the results.
        **Scope:** `journal-entries:read`
      operationId: get-journalentry
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).

            | Field                     | Type        |
            | ------------------------- | ----------- |
            | title                     | string      |
            | journalEntryNumber        | string      |
            | date                      | date        |
            | reversingJournalEntryId   | string      |
            | reversedByJournalEntryId  | string      |
          schema:
            type: string
          example: title~invoice 1234
      responses:
        "200":
          description: Journal entries found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/journalEntry"
      security:
        - tokenAuth: []
  "/companies/{companyId}/journal-entries/{journalEntryId}":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: journalEntryId
        in: path
        required: true
        description: Unique identifier of the journal entry
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    get:
      tags:
        - journal-entries
      summary: Get a journal entry
      description: |
        Retrieve the information of the journal with the matching journalEntryId.

        **Scope:** `journal-entries:read`
      operationId: get-journalentries-journalId
      responses:
        "200":
          description: Journal entry found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/journalEntry"
              examples:
                Update journal:
                  value:
                    id: a419cf69-db6f-4de9-992c-b1a60942a443
                    title: invoice 1234
                    journalEntryNumber: V342
                    date: 2024-10-10
                    items:
                      - id: 1
                        debit: 200
                        credit: 0
                        account: 1930
                      - id: 2
                        debit: 0
                        credit: 40
                        account: 3011
                      - id: 3
                        debit: 0
                        credit: 160
                        account: 2611
        "404":
          description: Journal entry not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: not-found
                    message: journal entry not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
  "/companies/{companyId}/journal-entries/{journalEntryId}/reverse":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: journalEntryId
        in: path
        required: true
        description: Unique identifier of the journal entry
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    post:
      tags:
        - journal-entries
      summary: Reverse a journal entry
      description: |
        Reverse a journal entry for the company.

        ### Journal entries possible to reverse

        - It's possible to reverse journal entries that have been created through the API. Journal entries that have been created through the Bokio UI can't be reversed through the API.
        - Journal entries that belong to a Bokio invoice or similar cannot be reversed using this endpoint.
        - Journal entries that have been reversed can not be reversed again.

        ### Handling validation errors:

        If this operation returns a 400 status code, inspect the response body's apiError object for more information. There will be additional information in the innerCode if the code=validation-error.

        **Scope:** `journal-entries:write`
      operationId: reverse-journalentry
      responses:
        "200":
          description: Journal entry reversed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/journalEntry"
              examples:
                Reversed journal entry:
                  value:
                    id: 835ba700-b306-4bd9-8447-59207b6b0002
                    title: invoice 1234
                    journalEntryNumber: V342
                    date: 2024-10-10
                    items:
                      - id: 1
                        debit: 0
                        credit: 200
                        account: 1930
                      - id: 2
                        debit: 40
                        credit: 0
                        account: 3011
                      - id: 3
                        debit: 160
                        credit: 0
                        account: 2611
                    reversingJournalEntryId: a419cf69-db6f-4de9-992c-b1a60942a443
        "400":
          description: Not allowed to reverse journal entry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: No changes can be made in a closed fiscal year.
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
        "404":
          description: journal entry not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: not-found
                    message: journal entry not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
  "/companies/{companyId}/uploads":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
    post:
      tags:
        - uploads
      summary: Add an upload
      description: |
        Add an upload to bokio in the form of an image or pdf. One file can be uploaded per request. The request must be **multi-part MIME**.

        #### Sample request for uploading a file using multipart MIME
        ```
        POST http://api.bokio.se/companies/{companyId}/uploads
        Content-Type: multipart/form-data; boundary=----FormBoundary7MA4YWxkTrZu0gW
        Authorization: Bearer <token>

        ------FormBoundary7MA4YWxkTrZu0gW
        Content-Disposition: form-data; name="File"; filename="receipt.png"
        Content-Type: image/png

        < ./receipt.png

        ------WebKitFormBoundary7MA4YWxkTrZu0gW
        Content-Disposition: form-data; name="journalEntryId"

        835ba700-b306-4bd9-8447-59207b6b0002

        ------WebKitFormBoundary7MA4YWxkTrZu0gW
        Content-Disposition: form-data; name="description"

        Description for the upload

        ------FormBoundary7MA4YWxkTrZu0gW--
        ```

        **Scope:** `uploads:write`
      operationId: add-upload
      parameters:
        - name: Content-Type
          in: header
          required: true
          description: Content type of the request
          schema:
            type: string
          example: multipart/form-data;boundary=JLQPFBPUP0
      requestBody:
        description: File and information for upload
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload
                description:
                  type: string
                  description: Description of the upload. If left empty, the file name will be used.
                  example: Receipt for invoice 1234
                journalEntryId:
                  type: string
                  format: uuid
                  description: The journal entry id to attach the upload to
                  example: 835ba700-b306-4bd9-8447-59207b6b0002
              required:
                - file
      responses:
        "200":
          description: Successfully added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/upload"
              examples:
                upload added:
                  value:
                    id: a419cf69-db6f-4de9-992c-b1a60942a443
                    description: example.png
                    contentType: img/png
                    journalEntryId: 835ba700-b306-4bd9-8447-59207b6b0002
        "400":
          description: Invalid file data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    message: Validation failed with 1 error
                    code: validation-error
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/file"
                        message: Invalid file type. Only application/pdf, image/jpeg and image/png files are allowed.
      security:
        - tokenAuth: []
    get:
      tags:
        - uploads
      summary: Get uploads
      description: |-
        Get all uploads for the company. Use the query parameters to filter and navigate through the results.
        **Scope:** `uploads:read`
      operationId: get-uploads
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).

            | Field                     | Type        |
            | ------------------------- | ----------- |
            | description               | string      |
            | journalEntryId            | string      |
          schema:
            type: string
          example: description~Receipt for invoice 1234
      responses:
        "200":
          description: uploads found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/upload"
      security:
        - tokenAuth: []
  "/companies/{companyId}/uploads/{uploadId}":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: uploadId
        in: path
        required: true
        description: Unique identifier of the upload
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    get:
      tags:
        - uploads
      summary: Get an upload
      description: |
        Retrieve the information of the upload with the matching uploadId.

        **Scope:** `uploads:read`
      operationId: get-upload
      responses:
        "200":
          description: upload found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/upload"
              examples:
                upload found:
                  value:
                    id: a419cf69-db6f-4de9-992c-b1a60942a443
                    description: example.png
                    contentType: img/png
                    journalEntryId: 835ba700-b306-4bd9-8447-59207b6b0002
        "404":
          description: upload not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: not-found
                    message: upload not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
  "/companies/{companyId}/uploads/{uploadId}/download":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: uploadId
        in: path
        required: true
        description: Unique identifier of the upload
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    get:
      tags:
        - uploads
      summary: Download file data for an upload
      description: |
        Retrieve the file data of the upload with the matching uploadId.

        **Scope:** `uploads:read`
      operationId: download-upload
      responses:
        "200":
          description: Upload file found
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "404":
          description: Upload not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: not-found
                    message: upload not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
  "/companies/{companyId}/customers":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
    post:
      tags:
        - customers
      summary: Create a customer
      description: |
        Creates a customer for the company.

        **Scope:** `customers:write`
      operationId: post-customer
      requestBody:
        description: Post the necessary fields for the API to create a customer.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/customer"
            examples:
              New customer:
                value:
                  name: customer 1
                  type: company
                  vatNumber: SE1234567890
                  orgNumber: 123456-7890
                  paymentTerms: "30"
                  contactsDetails:
                    - name: John Doe
                      email: john@email.com
                      phone: 0927-5631505
                      isDefault: true
                  address:
                    line1: Älvsborgsvägen 10
                    line2: null
                    city: Göteborg
                    postalCode: 123 45
                    country: SE
                  language: sv
      responses:
        "200":
          description: Customer created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer"
              examples:
                customer created:
                  value:
                    name: customer 1
                    type: company
                    vatNumber: SE1234567890
                    orgNumber: 123456-7890
                    paymentTerms: "30"
                    contactsDetails:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        name: John Doe
                        email: john@email.com
                        phone: 0927-5631505
                        isDefault: true
                    address:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    language: sv
                    modifiedDateTime: 2024-10-10T00:00:00Z
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 3 errors
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/name"
                        message: The name field is required
                      - field: "#/type"
                        message: The type field is required
                      - field: "#/address/country"
                        message: "Invalid country code: XX"
      security:
        - tokenAuth: []
    get:
      tags:
        - customers
      summary: Get customers
      description: |-
        Get all customers for the company. Use the query parameters to filter and navigate through the results.
        **Scope:** `customers:read`
      operationId: get-customer
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).

            | Field                | Type        |
            | -------------------- | ----------- |
            | name                 | string      |
            | type                 | string      |
            | vatNumber            | string      |
            | orgNumber            | string      |
            | modifiedDateTime     | date-time   |
          schema:
            type: string
          example: name==customer 1
      responses:
        "200":
          description: Customers found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/customer"
      security:
        - tokenAuth: []
  "/companies/{companyId}/customers/{customerId}":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        example: 55c899c5-82b2-47fa-9c51-e35fc9b26443
        description: Unique identifier of the customer
    get:
      tags:
        - customers
      summary: Get a customer
      description: |
        Retrieve the information of the customer with the matching customerId.

        **Scope:** `customers:read`
      operationId: get-customers-customerId
      responses:
        "200":
          description: Customer found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer"
              examples:
                customer found:
                  value:
                    id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                    name: customer 1
                    type: company
                    vatNumber: SE1234567890
                    orgNumber: 123456-7890
                    paymentTerms: "30"
                    contactsDetails:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        name: John Doe
                        email: john@email.com
                        phone: 0927-5631505
                        isDefault: true
                    address:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    language: sv
                    modifiedDateTime: 2024-10-10T00:00:00Z
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: not-found
                    message: Customer not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
    put:
      tags:
        - customers
      summary: Update a customer
      description: |
        Update an existing customer for the company.

        **Scope:** `customers:write`
      operationId: put-customer
      requestBody:
        description: Post the necessary fields for the API to update a customer.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/customer"
            examples:
              Update customer:
                value:
                  id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                  name: customer 1
                  type: company
                  vatNumber: SE1234567890
                  orgNumber: 123456-7890
                  paymentTerms: "30"
                  contactsDetails:
                    - Id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                      name: John Doe
                      email: john@email.com
                      phone: 0927-5631505
                      isDefault: true
                  address:
                    line1: Älvsborgsvägen 10
                    line2: null
                    city: Göteborg
                    postalCode: 123 45
                    country: SE
                  language: sv
      responses:
        "200":
          description: Customer updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer"
              examples:
                Update customer:
                  value:
                    id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                    name: customer 1
                    type: company
                    vatNumber: SE1234567890
                    orgNumber: 123456-7890
                    paymentTerms: "30"
                    contactsDetails:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        name: John Doe
                        email: john@email.com
                        phone: 0927-5631505
                        isDefault: true
                    address:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    language: sv
                    modifiedDateTime: 2024-10-10T00:00:00Z
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 3 errors
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/name"
                        message: The name field is required
                      - field: "#/type"
                        message: The type field is required
                      - field: "#/address/country"
                        message: "Invalid country code: XX"
      security:
        - tokenAuth: []
    delete:
      tags:
        - customers
      summary: Delete a customer
      description: |
        Delete an existing customer for the company.

        NOTE: Currently only supports deleting customers that have been added through the API.

        **Scope:** `customers:write`
      operationId: delete-customer
      responses:
        "204":
          description: Customer deleted
      security:
        - tokenAuth: []
  "/companies/{companyId}/invoices":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
    post:
      tags:
        - invoices
      summary: Create an invoice
      description: |
        Creates an new draft invoice for the company.

        **Scope:** `invoices:write`
      operationId: post-invoice
      requestBody:
        description: Post the necessary fields for the API to create a new invoice.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invoice"
            examples:
              New invoice:
                value:
                  type: invoice
                  customerRef:
                    id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                    name: customer 1
                  contactDetailRef:
                    id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                  invoiceNumber: "1234"
                  orderNumberReference: ORD-5678
                  currency: SEK
                  currencyRate: 1
                  totalAmount: 200
                  totalTax: 50
                  paidAmount: 0
                  invoiceDate: 2024-10-10
                  dueDate: 2024-10-10
                  lineItems:
                    - description: Product 1
                      itemRef:
                        id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      itemType: salesItem
                      productType: goods
                      unitType: piece
                      quantity: 1
                      unitPrice: 100
                      taxRate: 25
                    - description: A description line
                      itemType: descriptionOnlyItem
                  deliveryAddress:
                    line1: Delivery Street 15
                    line2: Floor 2
                    city: Stockholm
                    postalCode: 111 11
                    country: SE
                  metadata:
                    project: Website Redesign
                    department: IT
                    externalId: EXT-INV-2024-001
      responses:
        "200":
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoice"
              examples:
                invoice created:
                  value:
                    id: a419cf69-db6f-4de9-992c-b1a60942a443
                    type: invoice
                    customerRef:
                      id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      name: customer 1
                    contactDetailRef:
                      id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                      email: contact@customer1.com
                      phone: "+46701234567"
                    invoiceNumber: "1234"
                    orderNumberReference: ORD-5678
                    currency: SEK
                    currencyRate: 1
                    totalAmount: 200
                    totalTax: 50
                    paidAmount: 0
                    status: draft
                    invoiceDate: 2024-10-10
                    dueDate: 2024-10-10
                    lineItems:
                      - id: 1
                        itemRef:
                          id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                          description: Product 1
                        description: Product 1
                        itemType: salesItem
                        productType: goods
                        unitType: piece
                        quantity: 1
                        unitPrice: 100
                        taxRate: 25
                      - id: 2
                        description: A description line
                        itemType: descriptionOnlyItem
                    billingAddress:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    deliveryAddress:
                      line1: Delivery Street 15
                      line2: Floor 2
                      city: Stockholm
                      postalCode: 111 11
                      country: SE
                    attachmentRefs:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        fileName: myfile.pdf
                      - id: 94a8f806-8493-40f6-9d5b-0495c84f8ab9
                        fileName: myfile2.pdf
                    metadata:
                      project: Website Redesign
                      department: IT
                      externalId: EXT-INV-2024-001
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 2 errors
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/invoiceDate"
                        message: The invoice date field is required
                      - field: "#/lineItems/0/taxRate"
                        message: The tax rate field is required
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
    get:
      tags:
        - invoices
      summary: Get invoices
      description: |-
        Get all invoices for the company. Use the query parameters to filter and navigate through the results.
        **Scope:** `invoices:read`
      operationId: get-invoice
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).
            View documentation for filtering on metatdata [here](metadata).

            | Field                | Type        |
            | -------------------- | ----------- |
            | type                 | string      |
            | customerRef          | string      |
            | orderNumberReference | string      |
            | currency             | string      |
            | totalAmount          | number      |
            | status               | string      |
            | invoiceDate          | date        |
            | dueDate              | date        |
            | metadata             | string      |
          schema:
            type: string
          example: dueDate==2024-10-10&&currency==SEK
      responses:
        "200":
          description: Invoices found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/invoice"
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
  "/companies/{companyId}/invoices/{invoiceId}":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    get:
      tags:
        - invoices
      summary: Get an invoice
      description: |
        Retrieve the information of the invoice with the matching invoiceId.

        **Scope:** `invoices:read`
      operationId: get-invoices-invoiceId
      responses:
        "200":
          description: Invoice found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoice"
              examples:
                Update invoice:
                  value:
                    id: a419cf69-db6f-4de9-992c-b1a60942a443
                    type: invoice
                    customerRef:
                      id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      name: customer 1
                    contactDetailRef:
                      id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                      email: contact@customer1.com
                      phone: "+46701234567"
                    invoiceNumber: "1234"
                    orderNumberReference: ORD-5678
                    currency: SEK
                    currencyRate: 1
                    totalAmount: 200
                    totalTax: 50
                    paidAmount: 0
                    status: draft
                    invoiceDate: 2024-10-10
                    dueDate: 2024-10-10
                    lineItems:
                      - id: 1
                        itemRef:
                          id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                        description: Product 1
                        itemType: salesItem
                        productType: goods
                        unitType: piece
                        quantity: 1
                        unitPrice: 100
                        taxRate: 25
                      - id: 2
                        description: A description line
                        itemType: descriptionOnlyItem
                    billingAddress:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    deliveryAddress:
                      line1: Delivery Street 15
                      line2: Floor 2
                      city: Stockholm
                      postalCode: 111 11
                      country: SE
                    attachmentRefs:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        fileName: myfile.pdf
                      - id: 94a8f806-8493-40f6-9d5b-0495c84f8ab9
                        fileName: myfile2.pdf
                    journalEntryRef:
                      id: e7f8a972-5a21-411b-aed2-f224d1b6fd68
                    metadata:
                      project: Website Redesign
                      department: IT
                      externalId: EXT-INV-2024-001
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: not-found
                    message: invoice not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
    put:
      tags:
        - invoices
      summary: Update an invoice
      description: |
        Update an existing invoice draft for the company.

        This operation will update all fields of the invoice. It's recommended that you perform a GET request
        to the invoice first to get the current state of the invoice and then update the fields you want to change.

        **NOTE:** It's only possible to update invoices that are in draft status.

        **Scope:** `invoices:write`
      operationId: put-invoice
      requestBody:
        description: Post the necessary fields for the API to update an invoice.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invoice"
            examples:
              Update invoice:
                value:
                  id: a419cf69-db6f-4de9-992c-b1a60942a443
                  type: invoice
                  customerRef:
                    id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                    name: customer 1
                  contactDetailRef:
                    id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                  invoiceNumber: "1234"
                  orderNumberReference: ORD-5678
                  currency: SEK
                  currencyRate: 1
                  totalAmount: 200
                  totalTax: 50
                  paidAmount: 0
                  invoiceDate: 2024-10-10
                  dueDate: 2024-10-10
                  lineItems:
                    - id: 1
                      description: Product 1
                      itemType: salesItem
                      productType: goods
                      unitType: piece
                      quantity: 1
                      unitPrice: 100
                      taxRate: 25
                    - id: 2
                      itemRef:
                        id: e964435e-50ef-4524-a439-05ff87794952
                      description: A description line
                      itemType: descriptionOnlyItem
                  deliveryAddress:
                    line1: Delivery Street 15
                    line2: Floor 2
                    city: Stockholm
                    postalCode: 111 11
                    country: SE
                  metadata:
                    project: Website Redesign
                    department: IT
                    externalId: EXT-INV-2024-001
      responses:
        "200":
          description: Invoice updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoice"
              examples:
                Update invoice:
                  value:
                    id: a419cf69-db6f-4de9-992c-b1a60942a443
                    type: invoice
                    customerRef:
                      id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      name: customer 1
                    contactDetailRef:
                      id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                      email: contact@customer1.com
                      phone: "+46701234567"
                    status: draft
                    invoiceNumber: "1234"
                    orderNumberReference: ORD-5678
                    currency: SEK
                    currencyRate: 1
                    totalAmount: 200
                    totalTax: 50
                    paidAmount: 0
                    invoiceDate: 2024-10-10
                    dueDate: 2024-10-10
                    lineItems:
                      - id: 1
                        description: Product 1
                        itemType: salesItem
                        productType: goods
                        unitType: piece
                        quantity: 1
                        unitPrice: 100
                        taxRate: 25
                      - id: 2
                        itemRef:
                          id: e964435e-50ef-4524-a439-05ff87794952
                          description: A description line
                        description: A description line
                        itemType: descriptionOnlyItem
                    billingAddress:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    deliveryAddress:
                      line1: Delivery Street 15
                      line2: Floor 2
                      city: Stockholm
                      postalCode: 111 11
                      country: SE
                    attachmentRefs:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        fileName: myfile.pdf
                      - id: 94a8f806-8493-40f6-9d5b-0495c84f8ab9
                        fileName: myfile2.pdf
                    metadata:
                      project: Website Redesign
                      department: IT
                      externalId: EXT-INV-2024-001
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 2 errors
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/invoiceDate"
                        message: The invoice date field is required
                      - field: "#/lineItems/0/taxRate"
                        message: The tax rate field is required
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
  "/companies/{companyId}/invoices/{invoiceId}/line-items":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    post:
      tags:
        - invoices
      summary: Add a line item to an invoice
      description: |
        Adds a line item to an existing draft invoice. The item will be added last in the list of line items on the invoice.

        **NOTE:** The invoice must be in draft status.

        **Scope:** `invoices:write`
      operationId: post-invoice-lineItem
      requestBody:
        description: Post the necessary fields for the API to add a line item to an invoice.
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/invoiceItem"
            examples:
              New line item:
                value:
                  id: 1
                  description: Product 2
                  itemType: salesItem
                  productType: goods
                  unitType: piece
                  quantity: 1
                  unitPrice: 100
                  taxRate: 25
              Full line item:
                value:
                  id: 1
                  itemRef:
                    id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                  description: Product 1
                  itemType: salesItem
                  productType: goods
                  unitType: piece
                  quantity: 1
                  unitPrice: 100
                  taxRate: 25
      responses:
        "200":
          description: Line item added
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/invoiceItem"
              examples:
                Line item:
                  value:
                    id: 1
                    itemRef:
                      id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      description: Product 1
                    description: Product 1
                    itemType: salesItem
                    productType: goods
                    unitType: piece
                    quantity: 1
                    unitPrice: 100
                    taxRate: 25
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 1 error
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/taxRate"
                        message: The tax rate field is required
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: not-found
                    message: invoice not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
  "/companies/{companyId}/invoices/{invoiceId}/attachments":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    post:
      tags:
        - invoices
      summary: Add an attachment to an invoice
      description: |
        Adds an attachment to an existing draft invoice. The attachment will be added last in the list of attachments on the invoice.
        Attached files will appear as additional pages in the final invoice

        Supported file types: jpeg, png and pdf

        Show example of multipart MIME as we do for uploads

        **NOTE:** The invoice must be in draft status.
        Maximum file size is 4 MB and all files can't exceed 10 MB.
        Dimensions must be less than height of 7016 and width of 4960 in pixels

        **Scope:** `invoices:write`
      operationId: post-invoice-attachment
      parameters:
        - name: Content-Type
          in: header
          required: true
          description: Content type of the request
          schema:
            type: string
          example: multipart/form-data;boundary=JLQPFBPUP0
      requestBody:
        description: Post the necessary fields for the API to add an attachment to an invoice.
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to attach to invoice
              required:
                - file
      responses:
        "200":
          description: Attachment added to invoice
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/invoiceAttachment"
              examples:
                Attachment:
                  value:
                    id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                    invoiceId: a419cf69-db6f-4de9-992c-b1a60942a443
                    fileName: myfile.pdf
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Missing required information
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
        "404":
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                AttachmentNotFound:
                  value:
                    code: not-found
                    message: The requested resource attachment with value 240a4af0-edfd-47b1-b4ab-f30450eaac19 was not found
                    bokioErrorId: 8d408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
    get:
      tags:
        - invoices
      summary: Get attachments
      description: |
        Retrieve the information of the attachments for the invoice. Use the query parameters to filter and navigate through the results.

        **Scope:** `invoices:read`
      operationId: get-invoice-attachments
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).

            | Field                     | Type        |
            | ------------------------- | ----------- |
            | fileName                  | string      |
          schema:
            type: string
          example: fileName~faktura
      responses:
        "200":
          description: Attachments found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/invoiceAttachment"
              examples:
                Attachments:
                  value:
                    totalItems: 2
                    totalPages: 1
                    currentPage: 1
                    items:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        invoiceId: a419cf69-db6f-4de9-992c-b1a60942a443
                        fileName: myfile.pdf
                      - id: 390a4af0-edfd-47b1-b4ab-f30450eaac19
                        invoiceId: a419cf69-db6f-4de9-992c-b1a60942a443
                        fileName: myfile2.pdf
        "404":
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
  "/companies/{companyId}/invoices/{invoiceId}/attachments/{attachmentId}":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
      - name: attachmentId
        in: path
        required: true
        description: Unique identifier of the attachment
        schema:
          type: string
          format: uuid
        example: 240a4af0-edfd-47b1-b4ab-f30450eaac19
    get:
      tags:
        - invoices
      summary: Get an attachment
      description: |
        Retrieve the information of the attachment with the matching attachmentId.

        **Scope:** `invoices:read`
      operationId: get-invoice-attachment
      responses:
        "200":
          description: Attachment found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoiceAttachment"
              examples:
                Attachment:
                  value:
                    id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                    invoiceId: a419cf69-db6f-4de9-992c-b1a60942a443
                    fileName: myfile.pdf
        "404":
          description: Attachment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                AttachmentNotFound:
                  value:
                    code: not-found
                    message: The requested resource attachment with value 240a4af0-edfd-47b1-b4ab-f30450eaac19 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 869a69a3-632b-4a09-899e-9dc03342b5dc
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
    delete:
      tags:
        - invoices
      summary: Delete an attachment from an invoice
      description: |
        Deletes an attachment from an existing draft invoice.

        **NOTE:** The invoice must be in draft status.

        **Scope:** `invoices:write`
      operationId: delete-invoice-attachment
      responses:
        "204":
          description: Attachment deleted from invoice
        "404":
          description: Attachment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                AttachmentNotFound:
                  value:
                    code: not-found
                    message: The requested resource attachment with value 240a4af0-edfd-47b1-b4ab-f30450eaac19 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 3b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
  "/companies/{companyId}/invoices/{invoiceId}/attachments/{attachmentId}/download":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
      - name: attachmentId
        in: path
        required: true
        description: Unique identifier of the attachment
        schema:
          type: string
          format: uuid
        example: 240a4af0-edfd-47b1-b4ab-f30450eaac19
    get:
      tags:
        - invoices
      summary: Download an attachment from an invoice
      description: |
        Download the attachment with the matching attachmentId.

        **Scope:** `invoices:read`
      operationId: download-invoice-attachment
      responses:
        "200":
          description: Attachment found and downloaded successfully.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
              examples:
                Attachment found and downloaded successfully.:
                  value: fileName.pdf
        "404":
          description: Attachment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                AttachmentNotFound:
                  value:
                    code: not-found
                    message: The requested resource attachment with value 240a4af0-edfd-47b1-b4ab-f30450eaac19 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 869a69a3-632b-4a09-899e-9dc03342b5dc
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
  "/companies/{companyId}/invoices/{invoiceId}/publish":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    post:
      tags:
        - invoices
      summary: Publish an invoice
      description: |
        Publishes a draft invoice, making it official and ready to be sent to the customer.
        Note that invoice will not be automatically emailed to the customer when published through the API.

        **Scope:** `invoices:write`
      operationId: post-invoices-invoiceId-publish
      responses:
        "200":
          description: Invoice published successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoice"
        "400":
          description: Invalid request or invoice cannot be published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
  "/companies/{companyId}/invoices/{invoiceId}/payments":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    post:
      tags:
        - invoices
      summary: Create an invoice payment
      description: |
        Creates a new payment record for the specified invoice. Use the bookkeepingAccountNumber field to specify an accounting account other than the default account (1930).

        **Scope:** `invoices:write`
      operationId: post-invoice-payment
      requestBody:
        description: Payment information
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invoicePayment"
            examples:
              New payment:
                value:
                  date: 2024-10-15
                  sumBaseCurrency: 200
                  bookkeepingAccountNumber: 1930
      responses:
        "200":
          description: Payment created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoicePayment"
        "400":
          description: Invalid payment data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
    get:
      tags:
        - invoices
      summary: Get invoice payments
      description: |
        Retrieves all payment records for the specified invoice.

        **Scope:** `invoices:read`
      operationId: get-invoice-payments
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).

            | Field                     | Type        |
            | ------------------------- | ----------- |
            | date                      | date        |
            | sumBaseCurrency           | decimal     |
          schema:
            type: string
          example: date>2025-01-01
      responses:
        "200":
          description: Payments found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/invoicePayment"
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
  "/companies/{companyId}/invoices/{invoiceId}/payments/{paymentId}":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
      - name: paymentId
        in: path
        required: true
        description: Unique identifier of the payment
        schema:
          type: string
          format: uuid
        example: b529df79-eb7f-5ef0-a8dc-c2b71f953554
    get:
      tags:
        - invoices
      summary: Get an invoice payment
      description: |
        Retrieves a specific payment record for the invoice.

        **Scope:** `invoices:read`
      operationId: get-invoice-payment
      responses:
        "200":
          description: Payment found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoicePayment"
        "404":
          description: Invoice or payment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
    delete:
      tags:
        - invoices
      summary: Delete an invoice payment
      description: |
        Deletes a payment record for the invoice.

        **Scope:** `invoices:write`
      operationId: delete-invoice-payment
      responses:
        "204":
          description: Payment deleted successfully
        "404":
          description: Invoice or payment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
  "/companies/{companyId}/invoices/{invoiceId}/settlements":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    post:
      tags:
        - invoices
      summary: Create an invoice settlement
      description: |
        Create a settlement for the invoice that will reduce the outstanding amount of the invoice. A negative amount will increase the outstanding amount. For example, in the case of a currency gain.

        > 📘 Settlement types that can be created in Bokio API
        > - `currency`
        > - `bankFee`

        **Scope:** `invoices:write`
      operationId: post-invoice-settlement
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invoiceSettlementWrite"
            examples:
              New settlement:
                value:
                  type: bankFee
                  invoiceSettlementDetails:
                    date: 2024-10-15
                    sumBaseCurrency: 100
      responses:
        "200":
          description: Settlement created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoiceSettlementRead"
              examples:
                Settlement created:
                  value:
                    id: c529df79-eb7f-5ef0-a8dc-c2b71f953554
                    invoiceId: a419cf69-db6f-4de9-992c-b1a60942a443
                    type: bankFee
                    invoiceSettlementDetails:
                      date: 2024-10-15
                      sumBaseCurrency: 100
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
    get:
      tags:
        - invoices
      summary: Get invoice settlements
      description: |
        Get all settlements for the invoice. Use the query parameters to filter and navigate through the results.

        **Scope:** `invoices:read`
      operationId: get-invoice-settlements
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).

            | Field                     | Type        |
            | ------------------------- | ----------- |
            | date                      | date        |
            | sumBaseCurrency           | decimal     |
          schema:
            type: string
          example: date>2025-01-01
      responses:
        "200":
          description: List of settlements
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/invoiceSettlementRead"
        "404":
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
  "/companies/{companyId}/invoices/{invoiceId}/settlements/{settlementId}":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
      - name: settlementId
        in: path
        required: true
        description: Unique identifier of the settlement
        schema:
          type: string
          format: uuid
        example: c529df79-eb7f-5ef0-a8dc-c2b71f953554
    get:
      tags:
        - invoices
      summary: Get an invoice settlement
      description: |
        Retrieve the information of the specific settlement with the matching settlementd.

        **Scope:** `invoices:read`
      operationId: get-invoice-settlement
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
      responses:
        "200":
          description: Settlement
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoiceSettlementRead"
        "404":
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                SettlementNotFound:
                  value:
                    code: not-found
                    message: The requested resource settlement with value c529df79-eb7f-5ef0-a8dc-c2b71f953554 was not found
                    bokioErrorId: 8d408943-7a1e-47ac-85a7-ac52b2c210d3
    delete:
      tags:
        - invoices
      summary: Delete an invoice settlement
      description: |
        Delete an existing settlement.

        **Scope:** `invoices:write`
      operationId: delete-invoice-settlement
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
      responses:
        "204":
          description: Settlement deleted successfully
        "404":
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                SettlementNotFound:
                  value:
                    code: not-found
                    message: The requested resource settlement with value c529df79-eb7f-5ef0-a8dc-c2b71f953554 was not found
                    bokioErrorId: 8d408943-7a1e-47ac-85a7-ac52b2c210d3
  "/companies/{companyId}/invoices/{invoiceId}/credit":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    post:
      tags:
        - invoices
      summary: Create a credit note
      description: |
        Creates a draft credit note for the specified invoice and returns the created credit note draft.

        - Use `PUT /credit-notes/{id}` in case the invoice should be partially credited, e.g 3 out of a quantity of 4 for a line item.
        - Use `POST /credit-notes/{id}/publish` to publish the created credit note.

        **Scope:** `invoices:write`
      operationId: post-invoices-invoiceId-credit
      responses:
        "200":
          description: Credit note created successfully, returns the updated invoice with creditNoteRef
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditNote"
              examples:
                createdCreditNote:
                  summary: Credit note created successfully
                  value:
                    id: b529df79-eb7f-5ef0-a8dc-c2b71f953554
                    status: draft
                    invoiceNumber: null
                    invoiceRef:
                      id: a419cf69-db6f-4de9-992c-b1a60942a443
                      invoiceNumber: IN-2024-001
                    customerRef:
                      id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      name: customer 1
                    contactDetailRef:
                      id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                      email: contact@customer1.com
                      phone: "+46701234567"
                    currency: SEK
                    currencyRate: 1
                    totalAmount: 200
                    totalTax: 50
                    paidAmount: 0
                    creditDate: 2024-10-15
                    dueDate: 2024-11-15
                    publishedDateTime: null
                    lineItems:
                      - id: 1
                        itemRef:
                          id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                          description: Product 1
                        description: Product 1
                        itemType: salesItem
                        productType: goods
                        quantity: 2
                        unitPrice: 100
                        taxRate: 25
                    billingAddress:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    deliveryAddress:
                      line1: Delivery Street 15
                      line2: Floor 2
                      city: Stockholm
                      postalCode: 111 11
                      country: SE
                    attachmentRefs:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        fileName: myfile.pdf
                      - id: 94a8f806-8493-40f6-9d5b-0495c84f8ab9
                        fileName: myfile2.pdf
                    metadata:
                      project: Website Redesign
                      department: IT
                      externalId: EXT-INV-2024-001
        "400":
          description: Invalid request or credit note cannot be created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
  "/companies/{companyId}/credit-notes":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
    get:
      tags:
        - credit-notes
      summary: List credit notes
      description: |
        Returns a list of credit notes for the company.

        **Scope:** `credit-notes:read`
      operationId: list-credit-notes-v1
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          description: Number of items per page
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).
            View documentation for filtering on metatdata [here](metadata).

            | Field                | Type        |
            | -------------------- | ----------- |
            | type                 | string      |
            | customerRef          | string      |
            | orderNumberReference | string      |
            | currency             | string      |
            | totalAmount          | number      |
            | status               | string      |
            | invoiceDate          | date        |
            | dueDate              | date        |
            | metadata             | string      |
          schema:
            type: string
          example: dueDate==2024-10-10&&currency==SEK
      responses:
        "200":
          description: List of credit notes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/creditNote"
      security:
        - tokenAuth: []
        - access_token:
            - credit-notes:read
  "/companies/{companyId}/credit-notes/{creditNoteId}":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: creditNoteId
        in: path
        required: true
        description: Unique identifier of the credit note
        schema:
          type: string
          format: uuid
        example: b529df79-eb7f-5ef0-a8dc-c2b71f953554
    get:
      tags:
        - credit-notes
      summary: Get a credit note
      description: |
        Retrieves a specific credit note by its ID.

        **Scope:** `credit-notes:read`
      operationId: get-credit-note-v1
      responses:
        "200":
          description: Credit note found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditNote"
        "404":
          description: Credit note not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                notFound:
                  summary: Credit note not found
                  value:
                    code: not-found
                    message: Credit note not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - credit-notes:read
    put:
      tags:
        - credit-notes
      summary: Update a credit note
      description: |
        Updates an existing credit note. Only draft credit notes can be updated.

        **Scope:** `credit-notes:write`
      operationId: update-credit-note-v1
      requestBody:
        description: Updated credit note information
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/creditNote"
            examples:
              creditNote:
                summary: Example credit note update
                value:
                  id: b529df79-eb7f-5ef0-a8dc-c2b71f953554
                  orderNumberReference: ORD-5678
                  currency: SEK
                  currencyRate: 1
                  creditDate: 2024-10-15
                  dueDate: 2024-11-15
                  lineItems:
                    - id: 1
                      itemRef:
                        id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                        description: Product 1
                      description: Product 1 (Updated)
                      itemType: salesItem
                      productType: goods
                      quantity: 3
                      unitPrice: 100
                      taxRate: 25
                  deliveryAddress:
                    line1: Delivery Street 15
                    line2: Floor 2
                    city: Stockholm
                    postalCode: 111 11
                    country: SE
      responses:
        "200":
          description: Credit note updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditNote"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                validationError:
                  summary: Validation error
                  value:
                    code: validation-error
                    message: One or more validation errors occurred
                    details:
                      - field: null
                        message: The credit date field is required
        "404":
          description: Credit note not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - credit-notes:write
  "/companies/{companyId}/credit-notes/{creditNoteId}/publish":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: creditNoteId
        in: path
        required: true
        description: Unique identifier of the credit note
        schema:
          type: string
          format: uuid
        example: b529df79-eb7f-5ef0-a8dc-c2b71f953554
    post:
      tags:
        - credit-notes
      summary: Publish a credit note
      description: |
        Publishes a draft credit note, making it official and immutable.

        **Scope:** `credit-notes:write`
      operationId: publish-credit-note-v1
      responses:
        "200":
          description: Credit note published successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditNote"
        "400":
          description: Credit note cannot be published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
        "404":
          description: Credit note not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - credit-notes:write
  "/companies/{companyId}/items":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
    post:
      tags:
        - items
      summary: Create an item
      description: |
        Creates a new item for the company.

        **Scope:** `items:write`
      operationId: post-item
      requestBody:
        description: Post the necessary fields for the API to create a new item.
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/item"
            examples:
              New item:
                value:
                  description: Description of product 1
                  itemType: salesItem
                  productType: goods
                  unitType: piece
                  unitPrice: 100
                  taxRate: 25
      responses:
        "200":
          description: Item created
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/item"
              examples:
                Item created:
                  value:
                    id: 835ba700-b306-4bd9-8447-59207b6b0002
                    description: Description of product 1
                    itemType: salesItem
                    productType: goods
                    unitType: piece
                    unitPrice: 100
                    taxRate: 25
        "400":
          description: Missing Required Information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 3 errors
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/description"
                        message: The description field is required
                      - field: "#/itemType"
                        message: The item type field is required
                      - field: "#/unitPrice"
                        message: The unit price field is required
      security:
        - tokenAuth: []
    get:
      tags:
        - items
      summary: Get items
      description: |
        Get all items for the company. Use the query parameters to filter and navigate through the results.

        **Scope:** `items:read`
      operationId: get-items
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).

            | Field                | Type        |
            | -------------------- | ----------- |
            | description          | string      |
            | itemType             | string      |
            | productType          | string      |
            | unitType             | string      |
            | unitPrice            | number      |
            | taxRate              | number      |
          schema:
            type: string
          example: description~Product 1
      responses:
        "200":
          description: Items found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/item"
      security:
        - tokenAuth: []
  "/companies/{companyId}/items/{itemId}":
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: itemId
        in: path
        required: true
        description: Unique identifier of the item
        schema:
          type: string
          format: uuid
        example: 83e3d68a-cfbc-46e4-9fe6-f0fc6d739672
    get:
      tags:
        - items
      summary: Get an item
      description: |
        Retrieve the information of the item with the matching itemId.

        **Scope:** `items:read`
      operationId: get-items-itemId
      responses:
        "200":
          description: Item found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/item"
              examples:
                Item found:
                  value:
                    id: 835ba700-b306-4bd9-8447-59207b6b0002
                    description: Description of product 1
                    itemType: salesItem
                    productType: goods
                    unitType: piece
                    unitPrice: 100
                    taxRate: 25
        "404":
          description: Item Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: not-found
                    message: Item not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
    put:
      tags:
        - items
      summary: Update an item
      description: |
[...]
