openapi: 3.0.3
info:
  version: "1.0"
  title: Company API
  description: The Bokio Company API containing all resources for company tenant.
  termsOfService: https://docs.bokio.se/page/terms/
  contact:
    name: Bokio
    url: https://docs.bokio.se
    email: support@bokio.se
servers:
  - url: https://api.bokio.se/v1
    description: Bokio API
    x-bokio-api: true
security:
  - tokenAuth: []
tags:
  - name: bank-payments
    description: Operations for creating and reading bank payments
  - name: chart-of-accounts
    description: Operations for managing chart of accounts
  - name: company-information
    description: Operations for managing company information
  - name: credit-notes
    description: Operations for managing credit notes
  - name: customers
    description: Operations for managing customer data
  - name: fiscal-years
    description: Operations for managing fiscal years
  - name: invoices
    description: Operations for managing invoices
  - name: items
    description: Operations for managing inventory items
  - name: journal-entries
    description: Operations for managing accounting journal entries
  - name: sie-files
    description: Operations for managing SIE files
  - name: supplier-invoices
    description: Operations for managing supplier invoices
  - name: suppliers
    description: Operations for managing suppliers
  - name: tag-groups
    description: Operations for managing tag groups and tags
  - name: uploads
    description: Operations for managing file uploads
externalDocs:
  url: https://docs.bokio.se
  description: Read the API Documentation
paths:
  /companies/{companyId}/bank-payments:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
    post:
      tags:
        - bank-payments
      summary: Create a bank payment
      description: |
        Creates a new bank payment for the company. Payment will be created in the Bokio system.
        In order to submit the transaction to the bank, the signatory for the account needs to login to the Bokio application and sign the payment with their BankID.
        This is different from the transactions imported through a connected bank in Bokio.

        **Scope:** `bank-payments:write`
      operationId: post-bank-payment
      requestBody:
        description: Post the necessary fields for the API to create a new bank payment.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/bank-payment"
            examples:
              Account transfer payment:
                value:
                  amount: 1200
                  paymentDate: 2025-08-25
                  ownNote: Rent payment
                  recipientRef:
                    kind: transfer
                    recipientName: Property Management Co
                    recipientReference: RENT-2025-08
                    clearingNumber: "5011"
                    accountNumber: "0379101"
              Bankgiro payment:
                value:
                  amount: 2500.5
                  paymentDate: 2025-08-25
                  ownNote: Monthly service payment
                  recipientRef:
                    kind: bankgiro
                    recipientName: Tech Solutions Ltd
                    bankgiroNumber: 123-4567
                    ocr: "123456789012345"
      responses:
        "200":
          description: Payment created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bank-payment"
              examples:
                Payment created:
                  value:
                    id: 835ba700-b306-4bd9-8447-59207b6b0002
                    status: readyToSign
                    amount: 1200
                    createdDateTime: 2025-08-25T08:15:00Z
                    paymentDate: 2025-08-25
                    ownNote: Rent payment
                    recipientRef:
                      kind: transfer
                      recipientName: Property Management Co
                      recipientReference: RENT-2025-08
                      clearingNumber: "5011"
                      accountNumber: "0379101"
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 2 errors
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/amount"
                        message: The amount field is required
                      - field: "#/recipientRef"
                        message: The recipientRef field is required
      security:
        - tokenAuth: []
    get:
      tags:
        - bank-payments
      summary: Get bank payments
      description: |-
        Get all bank payments for the company that were created by the integration.
        **Scope:** `bank-payments:read-limited`
      operationId: get-bank-payments-limited
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).

            | Field                | Type        |
            | -------------------- | ----------- |
            | amount               | number      |
            | status               | string      |
            | paymentDate          | date-time   |
            | createdDateTime      | date-time   |
          schema:
            type: string
          example: amount==1200.00
      responses:
        "200":
          description: Bank payments found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/bank-payment"
        "400":
          description: Invalid query filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                invalid-filter:
                  value:
                    code: validation-error
                    message: The provided filter 'amount===oops' is not valid. Please check the format of the query parameter
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: query
                        message: The provided filter 'amount===oops' is not valid. Please check the format of the query parameter
      security:
        - tokenAuth: []
  /companies/{companyId}/bank-payments/{bankPaymentId}:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: bankPaymentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        example: 835ba700-b306-4bd9-8447-59207b6b0002
        description: Unique identifier of the bank payment
    get:
      tags:
        - bank-payments
      summary: Get a bank payment created by the integration
      description: |
        Retrieve the information of the bank payment with the matching bankPaymentId.

        **Scope:** `bank-payments:read-limited`
      operationId: get-bank-payments-bank-payment-id
      responses:
        "200":
          description: Bank payment found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bank-payment"
              examples:
                bank payment found:
                  value:
                    id: 835ba700-b306-4bd9-8447-59207b6b0002
                    status: readyToSign
                    createdDateTime: 2025-08-25T08:15:00Z
                    amount: 1500
                    paymentDate: 2025-08-25
                    ownNote: "Payment for invoice #INV-2025-001"
                    recipientRef:
                      kind: transfer
                      recipientName: Property Management Co
                      recipientReference: RENT-2025-08
                      clearingNumber: "8000"
                      accountNumber: "1234567890"
        "404":
          description: Bank payment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: not-found
                    message: Bank payment not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
  /companies/{companyId}/bank-payments/bulk:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
    post:
      tags:
        - bank-payments
      summary: Bulk create bank payments
      description: |
        Creates multiple bank payments for the company in a single request. Up to 100 payments can be created per request.

        The operation is atomic — if any payment fails validation, no payments are created.

        **Scope:** `bank-payments:write`
      operationId: post-bank-payments-bulk
      requestBody:
        description: List of bank payments to create.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/bulk-create-bank-payments-request"
            examples:
              Two payments:
                value:
                  payments:
                    - amount: 1200
                      paymentDate: 2025-08-25
                      ownNote: Rent payment
                      recipientRef:
                        kind: transfer
                        recipientName: Property Management Co
                        recipientReference: RENT-2025-08
                        clearingNumber: "5011"
                        accountNumber: "0379101"
                    - amount: 2500.5
                      paymentDate: 2025-08-25
                      ownNote: Service payment
                      recipientRef:
                        kind: bankgiro
                        recipientName: Tech Solutions Ltd
                        bankgiroNumber: 123-4567
                        ocr: "123456789012345"
      responses:
        "200":
          description: All payments created successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/bank-payment"
              examples:
                All succeeded:
                  value:
                    - id: 835ba700-b306-4bd9-8447-59207b6b0002
                      status: readyToSign
                      amount: 1200
                      createdDateTime: 2025-08-25T08:15:00Z
                      paymentDate: 2025-08-25
                      ownNote: Rent payment
                      recipientRef:
                        kind: transfer
                        recipientName: Property Management Co
                        recipientReference: RENT-2025-08
                        clearingNumber: "5011"
                        accountNumber: "0379101"
                    - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                      status: readyToSign
                      amount: 2500.5
                      createdDateTime: 2025-08-25T08:15:00Z
                      paymentDate: 2025-08-25
                      ownNote: Service payment
                      recipientRef:
                        kind: bankgiro
                        recipientName: Tech Solutions Ltd
                        bankgiroNumber: 123-4567
                        ocr: "123456789012345"
        "400":
          description: |
            Validation failed. No payments were created.
            Errors include the payment index in the field path.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Payment validation errors:
                  value:
                    code: validation-error
                    message: Validation failed with 2 errors
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/payments/0/recipientRef/bankgiroNumber"
                        message: The bankgiro number is invalid
                      - field: "#/payments/1/amount"
                        message: The amount must be greater than 0
                Too many payments:
                  value:
                    code: validation-error
                    message: Validation failed with 1 error
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/payments"
                        message: The number of payments must not exceed 100
      security:
        - tokenAuth: []
  /companies/{companyId}/chart-of-accounts:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
    get:
      tags:
        - chart-of-accounts
      summary: Get chart of accounts
      description: |
        Retrieves the complete chart of accounts for the company, merging bookkeeping accounts with their associated money account details.

        **Scope:** `chart-of-accounts:read`
      operationId: get-chart-of-accounts
      parameters:
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).

            | Field                | Type        |
            | -------------------- | ----------- |
            | account              | number      |
            | name                 | string      |
            | accountType          | string    |
          schema:
            type: string
          example: account==3950
      responses:
        "200":
          description: Chart of accounts retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/account"
              examples:
                Chart of accounts:
                  value:
                    - account: 1930
                      name: Företagskonto / Affärskonto
                      accountType: basePlanAccount
                    - account: 3001
                      name: Försäljning varor, 25% moms
                      accountType: basePlanAccount
                    - account: 8001
                      name: Custom Account
                      accountType: customAccount
        "404":
          description: Company not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - chart-of-accounts:read
  /companies/{companyId}/chart-of-accounts/{account}:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: account
        in: path
        required: true
        description: The number of the account
        schema:
          type: integer
          format: int32
    get:
      tags:
        - chart-of-accounts
      summary: Get specific account
      description: |
        Retrieves details of a specific account from the chart of accounts using the account number.

        **Scope:** `chart-of-accounts:read`
      operationId: get-account-with-number
      responses:
        "200":
          description: Account retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accountWithDetails"
              examples:
                Account:
                  value:
                    account: 1930
                    name: Företagskonto / Affärskonto
                    accountType: basePlanAccount
                    accountBalance: 15000.75
        "404":
          description: Account not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - chart-of-accounts:read
  /companies/{companyId}/company-information:
    parameters:
      - name: companyId
        in: path
        required: true
        description: The unique identifier for the company
        schema:
          type: string
          format: uuid
          example: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
    get:
      tags:
        - company-information
      summary: Retrieve company information
      description: |
        Retrieve the information of the company.

        **Scope:** `company-information:read`
      operationId: get-company-information-with-id
      responses:
        "200":
          description: Company information
          content:
            application/json:
              schema:
                type: object
                properties:
                  companyInformation:
                    $ref: "#/components/schemas/companyInformation"
        "404":
          description: Company not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              example:
                code: not-found
                message: The requested resource with value 9b408943-7a1e-47ac-85a7-ac52b2c210d3 was not found
                bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
  /companies/{companyId}/credit-notes:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
    get:
      tags:
        - credit-notes
      summary: List credit notes
      description: |
        Returns a list of credit notes for the company.

        **Scope:** `credit-notes:read`
      operationId: list-credit-notes-v1
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          description: Number of items per page
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).
            View documentation for filtering on metatdata [here](metadata).

            | Field                | Type        |
            | -------------------- | ----------- |
            | type                 | string      |
            | customerRef          | string      |
            | orderNumberReference | string      |
            | projectReference     | string      |
            | buyerReference       | string      |
            | contractReference    | string      |
            | currency             | string      |
            | totalAmount          | number      |
            | status               | string      |
            | invoiceDate          | date        |
            | dueDate              | date        |
            | metadata             | string      |
          schema:
            type: string
          example: dueDate==2024-10-10&&currency==SEK
      responses:
        "200":
          description: List of credit notes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/creditNote"
      security:
        - tokenAuth: []
        - access_token:
            - credit-notes:read
  /companies/{companyId}/credit-notes/{creditNoteId}:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: creditNoteId
        in: path
        required: true
        description: Unique identifier of the credit note
        schema:
          type: string
          format: uuid
        example: b529df79-eb7f-5ef0-a8dc-c2b71f953554
    get:
      tags:
        - credit-notes
      summary: Get a credit note
      description: |
        Retrieves a specific credit note by its ID.

        **Scope:** `credit-notes:read`
      operationId: get-credit-note-v1
      responses:
        "200":
          description: Credit note found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditNote"
        "404":
          description: Credit note not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                notFound:
                  summary: Credit note not found
                  value:
                    code: not-found
                    message: Credit note not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - credit-notes:read
    put:
      tags:
        - credit-notes
      summary: Update a credit note
      description: |
        Updates an existing credit note. Only draft credit notes can be updated.

        **Scope:** `credit-notes:write`
      operationId: update-credit-note-v1
      requestBody:
        description: Updated credit note information
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/creditNote"
            examples:
              creditNote:
                summary: Example credit note update
                value:
                  id: b529df79-eb7f-5ef0-a8dc-c2b71f953554
                  orderNumberReference: ORD-5678
                  projectReference: PROJ-001
                  buyerReference: BUYER-123
                  contractReference: CONTRACT-456
                  currency: SEK
                  currencyRate: 1
                  creditDate: 2024-10-15
                  dueDate: 2024-11-15
                  lineItems:
                    - id: 1
                      itemRef:
                        id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                        description: Product 1
                      description: Product 1 (Updated)
                      itemType: salesItem
                      productType: goods
                      quantity: 3
                      unitPrice: 100
                      taxRate: 25
                  deliveryAddress:
                    line1: Delivery Street 15
                    line2: Floor 2
                    city: Stockholm
                    postalCode: 111 11
                    country: SE
      responses:
        "200":
          description: Credit note updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditNote"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                validationError:
                  summary: Validation error
                  value:
                    code: validation-error
                    message: One or more validation errors occurred
                    errors:
                      - field: "#/creditDate"
                        message: The credit date field is required
        "404":
          description: Credit note not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - credit-notes:write
    delete:
      tags:
        - credit-notes
      summary: Delete a credit note
      description: |
        Deletes a draft credit note. Only draft credit notes can be deleted.

        **Scope:** `credit-notes:write`
      operationId: delete-credit-note-with-id
      security:
        - tokenAuth: []
        - access_token:
            - credit-notes:write
      responses:
        "204":
          description: Credit note deleted successfully
        "400":
          description: Credit note cannot be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                CreditNoteCannotBeDeleted:
                  value:
                    code: operation-not-allowed
                    message: Credit note with value b529df79-eb7f-5ef0-a8dc-c2b71f953554 cannot be deleted as it is not in draft status
                    bokioErrorId: 4d408943-7a1e-47ac-85a7-ac52b2c210d3
  /companies/{companyId}/credit-notes/{creditNoteId}/publish:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: creditNoteId
        in: path
        required: true
        description: Unique identifier of the credit note
        schema:
          type: string
          format: uuid
        example: b529df79-eb7f-5ef0-a8dc-c2b71f953554
    post:
      tags:
        - credit-notes
      summary: Publish a credit note
      description: |
        Publishes a draft credit note, making it official and immutable.

        **Scope:** `credit-notes:write`
      operationId: publish-credit-note-v1
      responses:
        "200":
          description: Credit note published successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditNote"
        "400":
          description: Credit note cannot be published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
        "404":
          description: Credit note not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - credit-notes:write
  /companies/{companyId}/credit-notes/{creditNoteId}/record:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: creditNoteId
        in: path
        required: true
        description: Unique identifier of the credit note
        schema:
          type: string
          format: uuid
        example: b529df79-eb7f-5ef0-a8dc-c2b71f953554
    post:
      tags:
        - credit-notes
      summary: Record credit note
      description: |
        Record a credit note.

        **Scope:** `credit-notes:write`
      operationId: record-credit-note-with-id
      security:
        - tokenAuth: []
        - access_token:
            - credit-notes:write
      responses:
        "200":
          description: Credit note recorded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditNote"
              examples:
                creditNoteRecorded:
                  summary: Credit note recorded successfully
                  value:
                    id: b529df79-eb7f-5ef0-a8dc-c2b71f953554
                    status: published
                    invoiceNumber: CN-2024-001
                    invoiceRef:
                      id: a419cf69-db6f-4de9-992c-b1a60942a443
                      invoiceNumber: IN-2024-001
                    customerRef:
                      id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      name: customer 1
                    contactDetailRef:
                      id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                      email: contact@customer1.com
                      phone: "+46701234567"
                    currency: SEK
                    currencyRate: 1
                    totalAmount: 200
                    totalTax: 50
                    paidAmount: 0
                    creditDate: 2024-10-15
                    dueDate: 2024-11-15
                    publishedDateTime: 2024-10-15T12:00:00Z
                    projectReference: PROJ-001
                    buyerReference: BUYER-123
                    contractReference: CONTRACT-456
                    lineItems:
                      - id: 1
                        itemRef:
                          id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                          description: Product 1
                        description: Product 1
                        itemType: salesItem
                        productType: goods
                        quantity: 2
                        unitPrice: 100
                        taxRate: 25
                    billingAddress:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    deliveryAddress:
                      line1: Delivery Street 15
                      line2: Floor 2
                      city: Stockholm
                      postalCode: 111 11
                      country: SE
                    attachmentRefs:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        fileName: myfile.pdf
                      - id: 94a8f806-8493-40f6-9d5b-0495c84f8ab9
                        fileName: myfile2.pdf
                    journalEntryRef:
                      id: 89c9566a-9f7a-4894-aedd-4f382006f687
                    metadata:
                      project: Website Redesign
                      department: IT
                      externalId: EXT-INV-2024-001
        "400":
          description: Invalid request or invoice payment cannot be recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                InvalidRequest:
                  value:
                    code: validation-error
                    message: Action cannot be performed on credit note with value b529df79-eb7f-5ef0-a8dc-c2b71f953554
                    bokioErrorId: 4d408943-7a1e-47ac-85a7-ac52b2c210d3
        "404":
          description: Credit note not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                CreditNoteNotFound:
                  value:
                    code: not-found
                    message: The requested resource credit note with value b529df79-eb7f-5ef0-a8dc-c2b71f953554 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
  /companies/{companyId}/credit-notes/{creditNoteId}/download:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: creditNoteId
        in: path
        required: true
        description: Unique identifier of the credit note
        schema:
          type: string
          format: uuid
        example: b529df79-eb7f-5ef0-a8dc-c2b71f953554
    get:
      tags:
        - credit-notes
      summary: Download a credit note
      description: |
        Download the credit note PDF with the matching creditNoteId.

        **NOTE:** The credit note must be in published status.

        **Scope:** `credit-notes:read`
      operationId: download-credit-note
      responses:
        "200":
          description: Credit note found and downloaded successfully.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
              examples:
                Credit note found and downloaded successfully.:
                  value: credit-note.pdf
        "400":
          description: Credit note is not in published status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                CreditNoteNotPublished:
                  value:
                    code: operation-not-allowed
                    message: The credit note must be in published status to download
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
        "404":
          description: Credit note not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                CreditNoteNotFound:
                  value:
                    code: not-found
                    message: The requested resource credit note with value b529df79-eb7f-5ef0-a8dc-c2b71f953554 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - credit-notes:read
  /companies/{companyId}/customers:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
    post:
      tags:
        - customers
      summary: Create a customer
      description: |
        Creates a customer for the company.

        **Scope:** `customers:write`
      operationId: post-customer
      requestBody:
        description: Post the necessary fields for the API to create a customer.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/customer"
            examples:
              New customer:
                value:
                  name: customer 1
                  type: company
                  vatNumber: SE1234567890
                  orgNumber: 123456-7890
                  paymentTerms: "30"
                  contactsDetails:
                    - name: John Doe
                      email: john@email.com
                      phone: 0927-5631505
                      isDefault: true
                  address:
                    line1: Älvsborgsvägen 10
                    line2: null
                    city: Göteborg
                    postalCode: 123 45
                    country: SE
                  language: sv
      responses:
        "200":
          description: Customer created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer"
              examples:
                customer created:
                  value:
                    name: customer 1
                    type: company
                    vatNumber: SE1234567890
                    orgNumber: 123456-7890
                    paymentTerms: "30"
                    contactsDetails:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        name: John Doe
                        email: john@email.com
                        phone: 0927-5631505
                        isDefault: true
                    address:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    language: sv
                    modifiedDateTime: 2024-10-10T00:00:00Z
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 3 errors
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/name"
                        message: The name field is required
                      - field: "#/type"
                        message: The type field is required
                      - field: "#/address/country"
                        message: "Invalid country code: XX"
      security:
        - tokenAuth: []
    get:
      tags:
        - customers
      summary: Get customers
      description: |-
        Get all customers for the company. Use the query parameters to filter and navigate through the results.
        **Scope:** `customers:read`
      operationId: get-customer
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).

            | Field                | Type        |
            | -------------------- | ----------- |
            | name                 | string      |
            | type                 | string      |
            | vatNumber            | string      |
            | orgNumber            | string      |
            | modifiedDateTime     | date-time   |
          schema:
            type: string
          example: name==customer 1
      responses:
        "200":
          description: Customers found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/customer"
      security:
        - tokenAuth: []
  /companies/{companyId}/customers/{customerId}:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        example: 55c899c5-82b2-47fa-9c51-e35fc9b26443
        description: Unique identifier of the customer
    get:
      tags:
        - customers
      summary: Get a customer
      description: |
        Retrieve the information of the customer with the matching customerId.

        **Scope:** `customers:read`
      operationId: get-customers-customerId
      responses:
        "200":
          description: Customer found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer"
              examples:
                customer found:
                  value:
                    id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                    name: customer 1
                    type: company
                    vatNumber: SE1234567890
                    orgNumber: 123456-7890
                    paymentTerms: "30"
                    contactsDetails:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        name: John Doe
                        email: john@email.com
                        phone: 0927-5631505
                        isDefault: true
                    address:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    language: sv
                    modifiedDateTime: 2024-10-10T00:00:00Z
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: not-found
                    message: Customer not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
    put:
      tags:
        - customers
      summary: Update a customer
      description: |
        Update an existing customer for the company.

        **Scope:** `customers:write`
      operationId: put-customer
      requestBody:
        description: Post the necessary fields for the API to update a customer.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/customer"
            examples:
              Update customer:
                value:
                  id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                  name: customer 1
                  type: company
                  vatNumber: SE1234567890
                  orgNumber: 123456-7890
                  paymentTerms: "30"
                  contactsDetails:
                    - Id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                      name: John Doe
                      email: john@email.com
                      phone: 0927-5631505
                      isDefault: true
                  address:
                    line1: Älvsborgsvägen 10
                    line2: null
                    city: Göteborg
                    postalCode: 123 45
                    country: SE
                  language: sv
      responses:
        "200":
          description: Customer updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customer"
              examples:
                Update customer:
                  value:
                    id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                    name: customer 1
                    type: company
                    vatNumber: SE1234567890
                    orgNumber: 123456-7890
                    paymentTerms: "30"
                    contactsDetails:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        name: John Doe
                        email: john@email.com
                        phone: 0927-5631505
                        isDefault: true
                    address:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    language: sv
                    modifiedDateTime: 2024-10-10T00:00:00Z
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 3 errors
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/name"
                        message: The name field is required
                      - field: "#/type"
                        message: The type field is required
                      - field: "#/address/country"
                        message: "Invalid country code: XX"
      security:
        - tokenAuth: []
    delete:
      tags:
        - customers
      summary: Delete a customer
      description: |
        Delete an existing customer for the company.

        NOTE: Currently only supports deleting customers that have been added through the API.

        **Scope:** `customers:write`
      operationId: delete-customer
      responses:
        "204":
          description: Customer deleted
      security:
        - tokenAuth: []
  /companies/{companyId}/fiscal-years:
    parameters:
      - name: companyId
        in: path
        required: true
        description: The unique identifier for the company
        schema:
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
    get:
      tags:
        - fiscal-years
      summary: Get fiscal years
      description: |
        Get all fiscal years for the company. Use the query parameters to filter and navigate through the results.


        **Scope:** `fiscal-years:read`
      operationId: get-fiscal-years
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).

            | Field                | Type        |
            | -------------------- | ----------- |
            | startDate            | date      |
            | endDate              | date      |
            | accountingMethod     | string      |
            | status               | string      |
          schema:
            type: string
          example: status==open
      responses:
        "200":
          description: Successful response with fiscal years
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/fiscalYear"
      security:
        - tokenAuth: []
  /companies/{companyId}/fiscal-years/{fiscalYearId}:
    parameters:
      - name: companyId
        in: path
        required: true
        description: The unique identifier for the company
        schema:
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
      - name: fiscalYearId
        in: path
        required: true
        description: The unique identifier for the fiscal year
        schema:
          type: string
          format: uuid
          example: fd5cf0c4-d68f-48d7-b01d-ed478c268d9e
    get:
      tags:
        - fiscal-years
      summary: Get a fiscal year
      description: |
        Retrieve the information of the fiscal year with the matching fiscalYearId

        **Scope:** `fiscal-years:read`
      operationId: get-fiscal-year-with-id
      responses:
        "200":
          description: Successful response with fiscal year information
          content:
            application/json:
              schema:
                type: object
                properties:
                  fiscalYear:
                    $ref: "#/components/schemas/fiscalYear"
        "404":
          description: Fiscal year not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              example:
                code: not-found
                message: Fiscal year not found
                bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
  /companies/{companyId}/invoices:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
    post:
      tags:
        - invoices
      summary: Create an invoice
      description: |
        Creates a new draft invoice for the company.

        **Scope:** `invoices:write`
      operationId: post-invoice
      requestBody:
        description: Post the necessary fields for the API to create a new invoice.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invoice"
            examples:
              New invoice:
                value:
                  type: invoice
                  customerRef:
                    id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                    name: customer 1
                  contactDetailRef:
                    id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                  invoiceNumber: "1234"
                  orderNumberReference: ORD-5678
                  projectReference: PROJ-001
                  buyerReference: BUYER-123
                  contractReference: CONTRACT-456
                  currency: SEK
                  currencyRate: 1
                  totalAmount: 10000
                  totalTax: 2500
                  paidAmount: 0
                  invoiceDate: 2024-10-10
                  dueDate: 2024-10-10
                  lineItems:
                    - description: Product 1
                      itemRef:
                        id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      itemType: salesItem
                      productType: goods
                      unitType: piece
                      quantity: 1
                      unitPrice: 5000
                      taxRate: 25
                    - description: Installation work
                      itemType: salesItem
                      productType: services
                      unitType: hour
                      quantity: 10
                      unitPrice: 500
                      taxRate: 25
                      taxReduction:
                        taxReductionType: rot
                        jobType: rotConstruction
                    - description: A description line
                      itemType: descriptionOnlyItem
                  deliveryAddress:
                    line1: Delivery Street 15
                    line2: Floor 2
                    city: Stockholm
                    postalCode: 111 11
                    country: SE
                  taxReduction:
                    type: rot
                    description: Bathroom renovation
                    propertyType: realEstate
                    realEstateNumber: STOCKHOLM SÖDER 1:2
                    deductionPeople:
                      - personalNumber: 19850101-1234
                        deductionAmount: 1500
                  metadata:
                    project: Website Redesign
                    department: IT
                    externalId: EXT-INV-2024-001
      responses:
        "200":
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoice"
              examples:
                invoice created:
                  value:
                    id: a419cf69-db6f-4de9-992c-b1a60942a443
                    type: invoice
                    customerRef:
                      id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      name: customer 1
                    contactDetailRef:
                      id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                      email: contact@customer1.com
                      phone: "+46701234567"
                    invoiceNumber: "1234"
                    paymentReference: null
                    orderNumberReference: ORD-5678
                    projectReference: PROJ-001
                    buyerReference: BUYER-123
                    contractReference: CONTRACT-456
                    currency: SEK
                    currencyRate: 1
                    totalAmount: 10000
                    totalTax: 2500
                    paidAmount: 0
                    status: draft
                    invoiceDate: 2024-10-10
                    dueDate: 2024-10-10
                    lineItems:
                      - id: 1
                        itemRef:
                          id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                          description: Product 1
                        description: Product 1
                        itemType: salesItem
                        productType: goods
                        unitType: piece
                        quantity: 1
                        unitPrice: 5000
                        taxRate: 25
                      - id: 2
                        description: Installation work
                        itemType: salesItem
                        productType: services
                        unitType: hour
                        quantity: 10
                        unitPrice: 500
                        taxRate: 25
                        taxReduction:
                          taxReductionType: rot
                          jobType: rotConstruction
                      - id: 3
                        description: A description line
                        itemType: descriptionOnlyItem
                    billingAddress:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    deliveryAddress:
                      line1: Delivery Street 15
                      line2: Floor 2
                      city: Stockholm
                      postalCode: 111 11
                      country: SE
                    taxReduction:
                      type: rot
                      description: Bathroom renovation
                      propertyType: realEstate
                      realEstateNumber: STOCKHOLM SÖDER 1:2
                      deductionAmount: 1500
                      status: draft
                      deductionPeople:
                        - personalNumber: 19850101-1234
                          deductionAmount: 1500
                    attachmentRefs:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        fileName: myfile.pdf
                      - id: 94a8f806-8493-40f6-9d5b-0495c84f8ab9
                        fileName: myfile2.pdf
                    metadata:
                      project: Website Redesign
                      department: IT
                      externalId: EXT-INV-2024-001
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 2 errors
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/invoiceDate"
                        message: The invoice date field is required
                      - field: "#/lineItems/0/taxRate"
                        message: The tax rate field is required
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
    get:
      tags:
        - invoices
      summary: Get invoices
      description: |
        Get all invoices for the company. Use the query parameters to filter and navigate through the results.

        **Tax reduction:** Personal numbers in `taxReduction.deductionPeople` have the last 4 digits masked when the invoice was created by a different integration. Masked values are returned as `YYYYMMDD-XXXX`.

        **Scope:** `invoices:read`
      operationId: get-invoice
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).
            View documentation for filtering on metadata [here](metadata).

            | Field                | Type        |
            | -------------------- | ----------- |
            | type                 | string      |
            | customerRef          | string      |
            | orderNumberReference | string      |
            | projectReference     | string      |
            | buyerReference       | string      |
            | contractReference    | string      |
            | currency             | string      |
            | totalAmount          | number      |
            | status               | string      |
            | invoiceDate          | date        |
            | dueDate              | date        |
            | metadata             | string      |
          schema:
            type: string
          example: dueDate==2024-10-10&&currency==SEK
      responses:
        "200":
          description: Invoices found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/invoice"
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
  /companies/{companyId}/invoices/{invoiceId}:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    get:
      tags:
        - invoices
      summary: Get an invoice
      description: |
        Retrieve the information of the invoice with the matching invoiceId.

        **Tax reduction:** Personal numbers in `taxReduction.deductionPeople` have the last 4 digits masked when the invoice was created by a different integration. Masked values are returned as `YYYYMMDD-XXXX`.

        **Scope:** `invoices:read`
      operationId: get-invoices-invoiceId
      responses:
        "200":
          description: Invoice found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoice"
              examples:
                Update invoice:
                  value:
                    id: a419cf69-db6f-4de9-992c-b1a60942a443
                    type: invoice
                    customerRef:
                      id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      name: customer 1
                    contactDetailRef:
                      id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                      email: contact@customer1.com
                      phone: "+46701234567"
                    invoiceNumber: "1234"
                    paymentReference: null
                    orderNumberReference: ORD-5678
                    projectReference: PROJ-001
                    buyerReference: BUYER-123
                    contractReference: CONTRACT-456
                    currency: SEK
                    currencyRate: 1
                    totalAmount: 10000
                    totalTax: 2500
                    paidAmount: 0
                    status: draft
                    invoiceDate: 2024-10-10
                    dueDate: 2024-10-10
                    lineItems:
                      - id: 1
                        itemRef:
                          id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                        description: Product 1
                        itemType: salesItem
                        productType: goods
                        unitType: piece
                        quantity: 1
                        unitPrice: 5000
                        taxRate: 25
                      - id: 2
                        description: Installation work
                        itemType: salesItem
                        productType: services
                        unitType: hour
                        quantity: 10
                        unitPrice: 500
                        taxRate: 25
                        taxReduction:
                          taxReductionType: rot
                          jobType: rotConstruction
                      - id: 3
                        description: A description line
                        itemType: descriptionOnlyItem
                    billingAddress:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    deliveryAddress:
                      line1: Delivery Street 15
                      line2: Floor 2
                      city: Stockholm
                      postalCode: 111 11
                      country: SE
                    taxReduction:
                      type: rot
                      description: Bathroom renovation
                      propertyType: realEstate
                      realEstateNumber: STOCKHOLM SÖDER 1:2
                      deductionAmount: 1500
                      status: draft
                      deductionPeople:
                        - personalNumber: 19850101-1234
                          deductionAmount: 1500
                    attachmentRefs:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        fileName: myfile.pdf
                      - id: 94a8f806-8493-40f6-9d5b-0495c84f8ab9
                        fileName: myfile2.pdf
                    journalEntryRef:
                      id: e7f8a972-5a21-411b-aed2-f224d1b6fd68
                    metadata:
                      project: Website Redesign
                      department: IT
                      externalId: EXT-INV-2024-001
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: not-found
                    message: invoice not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
    put:
      tags:
        - invoices
      summary: Update an invoice
      description: |
        Update an existing invoice draft for the company.

        This operation will update all fields of the invoice. It's recommended that you perform a GET request
        to the invoice first to get the current state of the invoice and then update the fields you want to change.

        **NOTE:** It's only possible to update invoices that are in draft status.

        **Tax reduction:** Only the integration that created the invoice can modify tax reduction data. If a different integration includes `taxReduction` changes in the request, the changes will be silently ignored and the existing tax reduction data will be preserved.

        **Scope:** `invoices:write`
      operationId: put-invoice
      requestBody:
        description: Post the necessary fields for the API to update an invoice.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invoice"
            examples:
              Update invoice:
                value:
                  id: a419cf69-db6f-4de9-992c-b1a60942a443
                  type: invoice
                  customerRef:
                    id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                    name: customer 1
                  contactDetailRef:
                    id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                  invoiceNumber: "1234"
                  orderNumberReference: ORD-5678
                  projectReference: PROJ-001
                  buyerReference: BUYER-123
                  contractReference: CONTRACT-456
                  currency: SEK
                  currencyRate: 1
                  totalAmount: 10000
                  totalTax: 2500
                  paidAmount: 0
                  invoiceDate: 2024-10-10
                  dueDate: 2024-10-10
                  lineItems:
                    - id: 1
                      description: Product 1
                      itemType: salesItem
                      productType: goods
                      unitType: piece
                      quantity: 1
                      unitPrice: 5000
                      taxRate: 25
                    - id: 2
                      description: Installation work
                      itemType: salesItem
                      productType: services
                      unitType: hour
                      quantity: 10
                      unitPrice: 500
                      taxRate: 25
                      taxReduction:
                        taxReductionType: rot
                        jobType: rotConstruction
                    - id: 3
                      itemRef:
                        id: e964435e-50ef-4524-a439-05ff87794952
                      description: A description line
                      itemType: descriptionOnlyItem
                  deliveryAddress:
                    line1: Delivery Street 15
                    line2: Floor 2
                    city: Stockholm
                    postalCode: 111 11
                    country: SE
                  taxReduction:
                    type: rot
                    description: Bathroom renovation
                    propertyType: realEstate
                    realEstateNumber: STOCKHOLM SÖDER 1:2
                    deductionPeople:
                      - personalNumber: 19850101-1234
                        deductionAmount: 1500
                  metadata:
                    project: Website Redesign
                    department: IT
                    externalId: EXT-INV-2024-001
      responses:
        "200":
          description: Invoice updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoice"
              examples:
                Update invoice:
                  value:
                    id: a419cf69-db6f-4de9-992c-b1a60942a443
                    type: invoice
                    customerRef:
                      id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      name: customer 1
                    contactDetailRef:
                      id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                      email: contact@customer1.com
                      phone: "+46701234567"
                    status: draft
                    invoiceNumber: "1234"
                    paymentReference: null
                    orderNumberReference: ORD-5678
                    projectReference: PROJ-001
                    buyerReference: BUYER-123
                    contractReference: CONTRACT-456
                    currency: SEK
                    currencyRate: 1
                    totalAmount: 10000
                    totalTax: 2500
                    paidAmount: 0
                    invoiceDate: 2024-10-10
                    dueDate: 2024-10-10
                    lineItems:
                      - id: 1
                        description: Product 1
                        itemType: salesItem
                        productType: goods
                        unitType: piece
                        quantity: 1
                        unitPrice: 5000
                        taxRate: 25
                      - id: 2
                        description: Installation work
                        itemType: salesItem
                        productType: services
                        unitType: hour
                        quantity: 10
                        unitPrice: 500
                        taxRate: 25
                        taxReduction:
                          taxReductionType: rot
                          jobType: rotConstruction
                      - id: 3
                        itemRef:
                          id: e964435e-50ef-4524-a439-05ff87794952
                          description: A description line
                        description: A description line
                        itemType: descriptionOnlyItem
                    billingAddress:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    deliveryAddress:
                      line1: Delivery Street 15
                      line2: Floor 2
                      city: Stockholm
                      postalCode: 111 11
                      country: SE
                    taxReduction:
                      type: rot
                      description: Bathroom renovation
                      propertyType: realEstate
                      realEstateNumber: STOCKHOLM SÖDER 1:2
                      deductionAmount: 1500
                      status: draft
                      deductionPeople:
                        - personalNumber: 19850101-1234
                          deductionAmount: 1500
                    attachmentRefs:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        fileName: myfile.pdf
                      - id: 94a8f806-8493-40f6-9d5b-0495c84f8ab9
                        fileName: myfile2.pdf
                    metadata:
                      project: Website Redesign
                      department: IT
                      externalId: EXT-INV-2024-001
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 2 errors
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/invoiceDate"
                        message: The invoice date field is required
                      - field: "#/lineItems/0/taxRate"
                        message: The tax rate field is required
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
    delete:
      tags:
        - invoices
      summary: Delete an invoice
      description: |
        Deletes the specified invoice. Only invoices in draft status can be deleted.

        **Scope:** `invoices:write`
      operationId: delete-invoice-with-id
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
      responses:
        "204":
          description: Invoice deleted successfully
        "400":
          description: Invalid request or invoice cannot be deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                InvalidRequest:
                  value:
                    code: operation-not-allowed
                    message: Invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 cannot be deleted as it is not in draft status
                    bokioErrorId: 4d408943-7a1e-47ac-85a7-ac52b2c210d3
  /companies/{companyId}/invoices/{invoiceId}/attachments:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    post:
      tags:
        - invoices
      summary: Add an attachment to an invoice
      description: |
        Adds an attachment to an existing draft invoice. The attachment will be added last in the list of attachments on the invoice.
        Attached files will appear as additional pages in the final invoice

        Supported file types: jpeg, png and pdf

        Show example of multipart MIME as we do for uploads

        **NOTE:** The invoice must be in draft status.
        Maximum file size is 4 MB and all files can't exceed 10 MB.
        Dimensions must be less than height of 7016 and width of 4960 in pixels

        **Scope:** `invoices:write`
      operationId: post-invoice-attachment
      parameters:
        - name: Content-Type
          in: header
          required: true
          description: Content type of the request
          schema:
            type: string
          example: multipart/form-data;boundary=JLQPFBPUP0
      requestBody:
        description: Post the necessary fields for the API to add an attachment to an invoice.
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to attach to invoice
              required:
                - file
      responses:
        "200":
          description: Attachment added to invoice
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/invoiceAttachment"
              examples:
                Attachment:
                  value:
                    id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                    invoiceId: a419cf69-db6f-4de9-992c-b1a60942a443
                    fileName: myfile.pdf
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Missing required information
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
        "404":
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                AttachmentNotFound:
                  value:
                    code: not-found
                    message: The requested resource attachment with value 240a4af0-edfd-47b1-b4ab-f30450eaac19 was not found
                    bokioErrorId: 8d408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
    get:
      tags:
        - invoices
      summary: Get attachments
      description: |
        Retrieve the information of the attachments for the invoice. Use the query parameters to filter and navigate through the results.

        **Scope:** `invoices:read`
      operationId: get-invoice-attachments
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
            maximum: 100
        - name: query
          in: query
          required: false
          description: |
            Optional query to filter the data set with supported fields listed below and [available operations](filtering).

            | Field                     | Type        |
            | ------------------------- | ----------- |
            | fileName                  | string      |
          schema:
            type: string
          example: fileName~faktura
      responses:
        "200":
          description: Attachments found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/pagedResponse"
                  - type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/invoiceAttachment"
              examples:
                Attachments:
                  value:
                    totalItems: 2
                    totalPages: 1
                    currentPage: 1
                    items:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        invoiceId: a419cf69-db6f-4de9-992c-b1a60942a443
                        fileName: myfile.pdf
                      - id: 390a4af0-edfd-47b1-b4ab-f30450eaac19
                        invoiceId: a419cf69-db6f-4de9-992c-b1a60942a443
                        fileName: myfile2.pdf
        "404":
          description: The requested resource was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
  /companies/{companyId}/invoices/{invoiceId}/attachments/{attachmentId}:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
      - name: attachmentId
        in: path
        required: true
        description: Unique identifier of the attachment
        schema:
          type: string
          format: uuid
        example: 240a4af0-edfd-47b1-b4ab-f30450eaac19
    get:
      tags:
        - invoices
      summary: Get an attachment
      description: |
        Retrieve the information of the attachment with the matching attachmentId.

        **Scope:** `invoices:read`
      operationId: get-invoice-attachment
      responses:
        "200":
          description: Attachment found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoiceAttachment"
              examples:
                Attachment:
                  value:
                    id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                    invoiceId: a419cf69-db6f-4de9-992c-b1a60942a443
                    fileName: myfile.pdf
        "404":
          description: Attachment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                AttachmentNotFound:
                  value:
                    code: not-found
                    message: The requested resource attachment with value 240a4af0-edfd-47b1-b4ab-f30450eaac19 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 869a69a3-632b-4a09-899e-9dc03342b5dc
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
    delete:
      tags:
        - invoices
      summary: Delete an attachment from an invoice
      description: |
        Deletes an attachment from an existing draft invoice.

        **NOTE:** The invoice must be in draft status.

        **Scope:** `invoices:write`
      operationId: delete-invoice-attachment
      responses:
        "204":
          description: Attachment deleted from invoice
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
  /companies/{companyId}/invoices/{invoiceId}/attachments/{attachmentId}/download:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
      - name: attachmentId
        in: path
        required: true
        description: Unique identifier of the attachment
        schema:
          type: string
          format: uuid
        example: 240a4af0-edfd-47b1-b4ab-f30450eaac19
    get:
      tags:
        - invoices
      summary: Download an attachment from an invoice
      description: |
        Download the attachment with the matching attachmentId.

        **Scope:** `invoices:read`
      operationId: download-invoice-attachment
      responses:
        "200":
          description: Attachment found and downloaded successfully.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
              examples:
                Attachment found and downloaded successfully.:
                  value: fileName.pdf
        "404":
          description: Attachment not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                AttachmentNotFound:
                  value:
                    code: not-found
                    message: The requested resource attachment with value 240a4af0-edfd-47b1-b4ab-f30450eaac19 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 869a69a3-632b-4a09-899e-9dc03342b5dc
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
  /companies/{companyId}/invoices/{invoiceId}/credit:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    post:
      tags:
        - invoices
      summary: Create a credit note
      description: |
        Creates a draft credit note for the specified invoice and returns the created credit note draft.

        - Use `PUT /credit-notes/{id}` in case the invoice should be partially credited, e.g 3 out of a quantity of 4 for a line item.
        - Use `POST /credit-notes/{id}/publish` to publish the created credit note.

        **Scope:** `invoices:write`
      operationId: post-invoices-invoiceId-credit
      responses:
        "200":
          description: Credit note created successfully, returns the updated invoice with creditNoteRef
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/creditNote"
              examples:
                createdCreditNote:
                  summary: Credit note created successfully
                  value:
                    id: b529df79-eb7f-5ef0-a8dc-c2b71f953554
                    status: draft
                    invoiceNumber: null
                    invoiceRef:
                      id: a419cf69-db6f-4de9-992c-b1a60942a443
                      invoiceNumber: IN-2024-001
                    customerRef:
                      id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      name: customer 1
                    contactDetailRef:
                      id: d3b07384-d9a0-4c9b-8b3a-6e1f2a5c8d4e
                      email: contact@customer1.com
                      phone: "+46701234567"
                    currency: SEK
                    currencyRate: 1
                    totalAmount: 200
                    totalTax: 50
                    paidAmount: 0
                    creditDate: 2024-10-15
                    dueDate: 2024-11-15
                    publishedDateTime: null
                    lineItems:
                      - id: 1
                        itemRef:
                          id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                          description: Product 1
                        description: Product 1
                        itemType: salesItem
                        productType: goods
                        quantity: 2
                        unitPrice: 100
                        taxRate: 25
                    billingAddress:
                      line1: Älvsborgsvägen 10
                      line2: null
                      city: Göteborg
                      postalCode: 123 45
                      country: SE
                    deliveryAddress:
                      line1: Delivery Street 15
                      line2: Floor 2
                      city: Stockholm
                      postalCode: 111 11
                      country: SE
                    attachmentRefs:
                      - id: 240a4af0-edfd-47b1-b4ab-f30450eaac19
                        fileName: myfile.pdf
                      - id: 94a8f806-8493-40f6-9d5b-0495c84f8ab9
                        fileName: myfile2.pdf
                    metadata:
                      project: Website Redesign
                      department: IT
                      externalId: EXT-INV-2024-001
        "400":
          description: Invalid request or credit note cannot be created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
  /companies/{companyId}/invoices/{invoiceId}/download:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    get:
      tags:
        - invoices
      summary: Download an invoice
      description: |
        Download the invoice PDF with the matching invoiceId.

        **NOTE:** The invoice must be in published status.

        **Scope:** `invoices:read`
      operationId: download-invoice
      responses:
        "200":
          description: Invoice found and downloaded successfully.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
              examples:
                Invoice found and downloaded successfully.:
                  value: invoice.pdf
        "400":
          description: Invoice is not in a published status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                InvoiceNotPublished:
                  value:
                    code: operation-not-allowed
                    message: The invoice must be in a published status to download
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                InvoiceNotFound:
                  value:
                    code: not-found
                    message: The requested resource invoice with value a419cf69-db6f-4de9-992c-b1a60942a443 was not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - invoices:read
  /companies/{companyId}/invoices/{invoiceId}/line-items:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    post:
      tags:
        - invoices
      summary: Add a line item to an invoice
      description: |
        Adds a line item to an existing draft invoice. The item will be added last in the list of line items on the invoice.

        **NOTE:** The invoice must be in draft status.

        **Scope:** `invoices:write`
      operationId: post-invoice-lineItem
      requestBody:
        description: Post the necessary fields for the API to add a line item to an invoice.
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/invoiceItem"
            examples:
              New line item:
                value:
                  id: 1
                  description: Product 2
                  itemType: salesItem
                  productType: goods
                  unitType: piece
                  quantity: 1
                  unitPrice: 100
                  taxRate: 25
              Full line item:
                value:
                  id: 1
                  itemRef:
                    id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                  description: Product 1
                  itemType: salesItem
                  productType: goods
                  unitType: piece
                  quantity: 1
                  unitPrice: 100
                  taxRate: 25
      responses:
        "200":
          description: Line item added
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/invoiceItem"
              examples:
                Line item:
                  value:
                    id: 1
                    itemRef:
                      id: 55c899c5-82b2-47fa-9c51-e35fc9b26443
                      description: Product 1
                    description: Product 1
                    itemType: salesItem
                    productType: goods
                    unitType: piece
                    quantity: 1
                    unitPrice: 100
                    taxRate: 25
        "400":
          description: Missing required information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: validation-error
                    message: Validation failed with 1 error
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
                    errors:
                      - field: "#/taxRate"
                        message: The tax rate field is required
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
              examples:
                Error:
                  value:
                    code: not-found
                    message: invoice not found
                    bokioErrorId: 9b408943-7a1e-47ac-85a7-ac52b2c210d3
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
  /companies/{companyId}/invoices/{invoiceId}/payments:
    parameters:
      - name: companyId
        in: path
        required: true
        description: Unique identifier of the company
        schema:
          type: string
          format: uuid
        example: ea9ee4dd-fae3-4aec-a7db-6fc9cc1f8135
      - name: invoiceId
        in: path
        required: true
        description: Unique identifier of the invoice
        schema:
          type: string
          format: uuid
        example: a419cf69-db6f-4de9-992c-b1a60942a443
    post:
      tags:
        - invoices
      summary: Create an invoice payment
      description: |
        Creates a new payment record for the specified invoice. Use the bookkeepingAccountNumber field to specify an accounting account other than the default account (1930).

        **Scope:** `invoices:write`
      operationId: post-invoice-payment
      requestBody:
        description: Payment information
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/invoicePayment"
            examples:
              New payment:
                value:
                  date: 2024-10-15
                  sumBaseCurrency: 200
                  bookkeepingAccountNumber: 1930
      responses:
        "200":
          description: Payment created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/invoicePayment"
        "400":
          description: Invalid payment data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
        "404":
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiError"
      security:
        - tokenAuth: []
        - access_token:
            - invoices:write
    get:
      tags:
        - invoices
      summary: Get invoice payments
      description: |
        Retrieves all payment records for the specified invoice.

        **Scope:** `invoices:read`
      operationId: get-invoice-payments
      parameters:
        - name: page
          in: query
          required: false
          description: Page number
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            format: int32
            default: 25
[...]
